<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/util
         http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
        <property name="trustedPackages">
            <list>
                <value>model</value>
                <value>model.notification</value>
            </list>
        </property>
    </bean>

    <bean id="topic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="FlightUpdatesTopic"/>
    </bean>

    <bean id="converter" class="org.springframework.jms.support.converter.MappingJackson2MessageConverter">
        <property name="targetType" value="TEXT"/>
        <property name="typeIdPropertyName" value="_notification"/>
        <property name="typeIdMappings">
            <map>
                <entry key="model.notification.Notification"
                       value="model.notification.Notification"/>
            </map>
        </property>
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <constructor-arg ref="connectionFactory"/>
        <property name="defaultDestination" ref="topic"/>
        <property name="messageConverter" ref="converter"/>
        <property name="pubSubDomain" value="true"/> <!-- Ensure topic mode -->
    </bean>

    <bean id="notificationReceiver" class="client.ams.NotificationReceiverImpl">
        <constructor-arg ref="connectionFactory"/>
        <constructor-arg ref="converter"/>
    </bean>

    <util:properties id="clientProps" location="classpath:chatclient.properties"/>

    <bean id="chatServices" class="networking.rpcProtocol.ams.AppServerAMSRpcProxy">
        <constructor-arg index="1" value="#{clientProps.getProperty('chat.server.port')}"/>
        <constructor-arg index="0" value="#{clientProps.getProperty('chat.server.host')}"/>
    </bean>

    <bean id="chatCtrl" class="client.ams.ClientCtrlAMS">
        <constructor-arg ref="chatServices"/>
        <property name="receiver" ref="notificationReceiver"/>
    </bean>

</beans>